<p>
  <strong>Language:</strong>
  <%= @ecard.lang %>
</p>

<p>
  <strong>Title:</strong>
  <%= @ecard.title %>
</p>

<p>
  <strong>Pre-Header:</strong>
  <%= @ecard.pre_header %>
</p>

<p>
  <strong>Width:</strong>
  <%= @ecard.width %>
</p>

<p>
  <strong>ECARD:</strong>
  <%= @content %>
</p>

<p>
<a href="/ecard/download/<%= @ecard.title %>">DOWNLOAD ECARD</a>
</p>