<h1>Ecardator</h1>

<div>

<%= form_for @ecard, url: {action: "create"} do |f| %>
<div class="form-div">
  
  <%= f.label 'Brand' %>:
  <%= f.select :brand, ['MiuMiu', 'Prada']%><br /><br />
  
  <%= f.label 'Language' %>:
  <%= f.select :lang, ['en', 'it', 'fr', 'de', 'jp', 'es', 'cn', 'ko']%><br /><br />

  <%= f.label :forward_sel %>:
  <%= f.select :forward_sel, ['No', 'Yes']%><br />

  <%= f.label 'Vuoi il pre-header?' %>:
  <%= f.select :pre_header_sel, ['No', 'Yes']%><br />

  <%= f.label 'Vuoi il link?' %>:
  <%= f.select :link_sel, ['No', 'Yes']%><br />

  <%= f.label :title %>:<br />
  <%= f.text_field :title %><br />

  <%= f.label :pre_header %>:<br />
  <%= f.text_field :pre_header %><br />

  <%= f.label :width %>:<br />
  <%= f.text_field :width %><br />

  <%= f.label :height %>:<br />
  <%= f.text_field :height %><br />
  
  <%= f.label :src %>:<br />
  <%= f.text_field :src %><br />
  
  <%= f.label :link %>:<br />
  <%= f.text_field :link %><br />

  <%= f.label :alt %>:<br />
  <%= f.text_field :alt %><br />

  <%= f.submit "Create Ecard" %>
 </div>
<% end %>
</div>