<h1>Pagina di generazione delle ecard</h1>

<%= form_for @ecard, url: {action: "create"} do |f| %>
  
  <%= f.label :lang %>:
  <%= f.select :lang, ['English', 'Italian', 'French']%><br /><br />

  <%= f.label :title %>:
  <%= f.text_field :title %><br />
  
  <%= f.label :pre_header %>:
  <%= f.text_field :pre_header %><br />

  <%= f.label :width %>:
  <%= f.text_field :width %><br />

  <%= f.label :height %>:
  <%= f.text_field :height %><br />
  
  <%= f.label :src %>:
  <%= f.text_field :src %><br />
  
  <%= f.label :link %>:
  <%= f.text_field :link %><br />

  <%= f.label :width %>:
  <%= f.text_field :width %><br />

  <%= f.label :alt %>:
  <%= f.text_field :alt %><br /> 
  
  <%= f.label :forward %>:
  <%= f.text_field :forward %><br /> 

  <%= f.submit "Create" %>
<% end %>