<% if (@brand == "miumiu") %>
    <td width="600" id="maintable"  style="font-family: arial; font-size: 10px; line-height: 13px; color: #727272" align="center">
      <br />
      <%= I18n.t(@brand + '.footer_2').html_safe %><a href="http://clientsection.contactlab.it/service/unsubscribe/wfc/3920009639061/d/${encoded_user_data}$/k/${form_verification_code}$/lang/en" ><%= I18n.t(@brand + '.footer_3').html_safe %>
      <a href="http://www.miumiu.com/en/company_info" target="_blank"><%= I18n.t(@brand + '.legal_informations').html_safe %>
    </td>
<% else %>
    <td width="600" id="maintable"  style="font-family: arial; font-size: 10px; line-height: 13px; color: #727272" align="center">
      <br />
      <%= I18n.t(@brand + '.footer_2').html_safe %><a href="http://clientsection.contactlab.it/service/unsubscribe/wfc/3920009639061/d/${encoded_user_data}$/k/${form_verification_code}$/lang/en" ><%= I18n.t(@brand + '.footer_3').html_safe %>
      <a href="http://www.prada.com?url=info.html&cmp=int_ecard" target="_blank"><%= I18n.t(@brand + '.legal_informations').html_safe %>	
<% end %>